.form-section {
  width: 420px;
  margin: 10px;
  // background-color: burlywood;
}

.v-text {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.main-section {
  background: url("../../../assets/images/overview-bg.jpg");
  background-size: cover;
  height: auto;
  padding: 70px 0px;
}

.title-border {
  border-bottom: 2px solid #fff;
}

// .the-text .mat-grid-tile .mat-figure {
//     justify-content: flex-start !important ;
//  }

:host::ng-deep {
  mat-card {
    background: #393b3d52;
  }
  .mat-grid-tile .mat-figure {
    justify-content: flex-start !important ;
  }
  //
  //Standard
  .mat-form-field {
    .mat-input-element {
      color: slategray;
    }
    .mat-form-field-label {
      color: slategray;
    }
    .mat-form-field-underline {
      background-color: slategray;
    }
    .mat-form-field-ripple {
      background-color: slategray;
    }
    .mat-form-field-required-marker {
      color: slategray;
    }
  }

  //Focus
  .mat-form-field.mat-focused {
    .mat-form-field-label {
      color: #ff884d;
    }
    .mat-form-field-ripple {
      background-color: #ff884d;
    }
    .mat-form-field-required-marker {
      color: #ff884d;
    }
    .mat-input-element {
      color: #ff884d;
    }
  }

  //Error
  .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
      color: #ea1707;
    }
    .mat-form-field-label {
      color: #ea1707;
      .mat-form-field-required-marker {
        color: #ea1707;
      }
    }
    .mat-form-field-ripple {
      background-color: #ea1707;
    }
  }

  //   Radio
  .mat-radio-label {
    color: slategray;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: slategray;
  }
  .mat-radio-button .mat-radio-outer-circle {
    border-color: slategray;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: slategray;
    background-color: #fff;
  }

  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgb(255, 37, 37, 0.26);
  }

  //checkbox
  .mat-checkbox-frame {
    border-color: slategray;
  }
  .mat-checkbox-checked .mat-checkbox-background,
  .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: slategray !important;
  }
  .mat-checkbox:not(.mat-checkbox-disabled)
    .mat-checkbox-ripple
    .mat-ripple-element {
    background-color: #ff884d !important;
  }

  //   select
  .mat-select-value,
  .mat-select-arrow {
    color: slategray;
  }
}
