<div *ngIf="formGroupInfo" [formGroup]="formGroupTitle" class="custom-form-container" fxLayout="row wrap"
fxLayoutAlign="space-between center">
  <ng-container *ngFor="let field of formGroupInfo; let i = index">
    <div>
      <!-- Text Input -->
      <ng-container *ngIf="field.type === 'text'">
        <mat-form-field fxFlex="100">
          <mat-label>{{ field.label }}</mat-label>
          <input
            matInput
            [type]="field.type"
            formControlName="{{ field.controlName }}"
            required="{{ field.isRequired }}"
            maxlength="{{ field.maxlength }}"
          />
          <mat-error>{{ field.errorMessage }}</mat-error>
        </mat-form-field>
      </ng-container>

      <!-- Password Input -->
      <ng-container *ngIf="field.type === 'password'">
        <mat-form-field fxFlex="100">
          <mat-label>{{ field.label }}</mat-label>
          <input
            matInput
            type="password"
            formControlName="{{ field.controlName }}"
            required="{{ field.isRequired }}"
            #password
          />
          <a
            mat-icon-button
            matSuffix
            (click)="
              password.type = password.type === 'text' ? 'password' : 'text'
            "
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon class="font-light">{{
              password.type === "password" ? "visibility_off" : "visibility"
            }}</mat-icon>
          </a>
          <mat-error *ngIf="formGroupTitle.get(field.controlName).errors && formGroupTitle.get(field.controlName).hasError('required') &&
          (this.formGroupTitle.get(field.controlName).dirty ||
            this.formGroupTitle.get(field.controlName).touched)">{{ field.errorMessage }}</mat-error>
          <mat-error *ngIf="formGroupTitle.get(field.controlName).errors && !formGroupTitle.get(field.controlName).hasError('required') && formGroupTitle.get(field.controlName).hasError('passwordMismatch') &&
          (this.formGroupTitle.get(field.controlName).dirty ||
            this.formGroupTitle.get(field.controlName).touched)">Confirm Password does not match</mat-error>
        </mat-form-field>
      </ng-container>

      <!-- Select Input -->
      <ng-container *ngIf="field.type === 'select'">
        <mat-form-field>
          <mat-label>{{ field.label }}</mat-label>
          <mat-select
            formControlName="{{ field.controlName }}"
            required="{{ field.isRequired }}"
          >
            <ng-container *ngFor="let option of field.optionList">
              <mat-option [value]="option.value">{{ option.name }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error>{{ field.errorMessage }}</mat-error>
        </mat-form-field>
      </ng-container>

      <!-- Radio Input -->
      <ng-container *ngIf="field.type === 'radio'">
        <div fxLayout="row" fxLayoutGap="5px" class="radio-field py-5">
          <label class="field-color">{{ field.label }}<span *ngIf="field.isRequired"> *</span>: </label>
          <mat-radio-group
            formControlName="{{ field.controlName }}"
            required="{{ field.isRequired }}"
          >
            <div fxLayoutGap="10px">
              <ng-container *ngFor="let option of field.optionList">
                <mat-radio-button [value]="option.value">{{
                  option.name
                }}</mat-radio-button>
              </ng-container>
            </div>
          </mat-radio-group>
        </div>
        <mat-error
          *ngIf="
            this.formGroupTitle.get(field.controlName).invalid &&
            (this.formGroupTitle.get(field.controlName).dirty ||
              this.formGroupTitle.get(field.controlName).touched)
          "
          >{{ field.errorMessage }}</mat-error
        >
      </ng-container>

      <!-- Checkbox Input -->
      <ng-container *ngIf="field.type === 'checkbox'">
        <div class="py-5 checkbox-field">
          <mat-checkbox
            formControlName="{{ field.controlName }}"
            required="{{ field.isRequired }}"
          >
            <span [innerHtml]="field.label" class="field-color"></span>
          </mat-checkbox>
          <mat-error
            *ngIf="
              this.formGroupTitle.get(field.controlName).invalid &&
              (this.formGroupTitle.get(field.controlName).dirty ||
                this.formGroupTitle.get(field.controlName).touched)
            "
            >{{ field.errorMessage }}</mat-error
          >
        </div>
      </ng-container>
      
      <!-- FormGroup Type -->
      <ng-container *ngIf="field.type === 'formGroup'">
        <div [formGroup]="getFormGroup(field.controlName)" class="formgroup-container">
            <h4>{{ field.label }} <span *ngIf="field.hint && field.hint !== ''" class="font-dark font-small">({{ field.hint }})</span></h4>
            <app-reactive-forms
            [formGroupInfo]="field.childFormDetails"
            [formGroupTitle]="getFormGroup(field.controlName)"
            [FormType]="''"
            ></app-reactive-forms>
        </div>
      </ng-container>
      
      <!-- FormArray Type -->
      <ng-container *ngIf="field.type === 'formArray'">
        <div class="py formarray-container">
            <h4>{{ field.label }}  <span *ngIf="field.hint && field.hint !== ''" class="font-dark font-small">({{ field.hint }})</span></h4>
            <div
                [formArrayName]="field.controlName"
                *ngFor="let item of formGroupTitle.get(field.controlName)['controls']; let i = index;" class="py">
                <button type="button" (click)="deleteItem(field.controlName,i)">Delete this {{ field.label }}</button>
                <div [formGroupName]="i">
                    <app-reactive-forms
                    [formGroupInfo]="field.childFormDetails"
                    [formGroupTitle]="getFormArray(field.controlName, i)"
                    [FormType]="''"
                    ></app-reactive-forms>
                </div>
                <mat-divider [inset]="true"></mat-divider>
            </div>
            <div 
            fxFlexAlign="center"
            fxFlexFill>
                <button class="" (click)="addItem(formGroupTitle, field.controlName)">Add More {{ field.label }}</button>
            </div>          
            
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
<!-- 
<div [formGroup]="orderForm">
    <div
        formArrayName="items"
        *ngFor="let item of orderForm.get('items')['controls']; let i = index;">
    <div [formGroupName]="i">
      <input formControlName="name" placeholder="Item name">
      <input formControlName="description" placeholder="Item description">
      <input formControlName="price" placeholder="Item price">
    </div>
</div>
<button type="button" (click)="addItem()">Add Item</button>
</div> -->
